a{
		text-shadow: 0px 0px;
}

input#submit{
	background:none;
	border:none;
}	

.logo{
	float:left;
	width:285px;
	height:122px;
}

.imgLogo{
	position:relative;
	padding-top:20px;
	padding-left: 10px;
	width: 70%;
	height:70%;
}

.error{
    color: red;
	font-size: 1.1vw;

}

.accountInfo{
	padding-top:10px;
	width:100%;
}

.formLabel{
	color:black;
	font-size: 1.1vw;
}

.formLabelError{
	color:red;
	font-size: 1.1vw;
}


.formInput{
	width:100%;
}

#loginForm{
	width:50%;
}

.centerPage{
	width:40%;
	padding-top:200px;
	position:relative;
	left:38%;
}

.centerPageError{
	width:30%;
	padding-top:200px;
	position:relative;
	left:38%;
	color:red;
}

.formButton{
	float:right;
	background-color:#ff6600;
	border:2px solid #ff6600;
	border-radius:5px;
	color:blue;
	margin-right:50%;
	padding: 10px 10px 10px 10px;
	cursor:pointer;
}

.formError{
	color:red;
	font-size:1.3vw;
}

.formButton:hover{
	float:right;
	background-color:#ff8800;
	border:2px solid #ff6600;
	border-radius:5px;
	color:blue;
	margin-right:50%;
	padding: 10px 10px 10px 10px;
	cursor:pointer;
}	

.copyrightFoot{
	width:99%;
	position:absolute;
	bottom:0px;
	border-top-style:ridge;
	padding-left: 1%;
	color:white;
	background-color:orange;
	
}

.buttonLink{
		text-decoration:none;
}

body{
	margin: 0px;
	padding: 0px;
	background: linear-gradient(white, orange);
	font-family: 'Bitter', sans-serif;
}